<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36}: %msg%n%ex</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="exposed.r2dbc.examples.springbootrepository" level="DEBUG"/>
    <logger name="Exposed" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>
